.search-container {
  display: flex;
  gap: 8px;              /* jarak antara input & button */
  margin-bottom: 16px;
}

.search-container input {
  flex: 1;               /* input melebar */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
  
}

.searchBox{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  height: 30px;
  width: 50%;
}